<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header"></head>

<body>
<div th:replace="fragments :: navbar"></div>

<div th:replace="fragments :: navigation(homeCurr='', listCurr='',searchCurr='', addCurr='', categoriesCurr='')"></div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-8 ">
                                    <h1 class="card-title" th:text="${(movie.title) + ' ' + 'movie awards'}">Awards </h1>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-dark" href="#" th:href="@{'/movie/' + ${movie.id} + '/show'}" role="button">Back to Movie</a>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-dark" href="#" th:href="@{'/movie/' + ${movie.id} + '/award/new'}" role="button">New</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive" th:if="${not #lists.isEmpty(movie.actors)}">
                                <table class="table table-hover ">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>ID</th>
                                        <th>Description</th>

                                    </tr>
                                    </thead>
                                    <tr th:each="award : ${movie.awards}">
                                        <td th:text="${award.id}">334</td>
                                        <td th:text="${#strings.abbreviate(award.description,80)}">description there</td>

                                        <td><a href="#" th:href="@{'/movie/' + ${movie.id} + '/award/' + ${award.id} + '/show'}">View</a></td>
                                        <td><a href="#" th:href="@{'/movie/' + ${movie.id} + '/award/' + ${award.id} + '/update'}">Update</a></td>
                                        <td><a href="#" th:href="@{'/movie/' + ${movie.id} + '/award/' + ${award.id} + '/delete'}">Delete</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<div th:replace="fragments :: footer"></div>
</body>
</html>