<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header"></head>

<body>
<div th:replace="fragments :: navbar"></div>

<div th:replace="fragments :: navigation(homeCurr='', searchCurr='', listCurr='(current)', top10Curr='', categoriesCurr='')"></div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card-group">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title">Upload a new movie image</h1>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form action="http:\\localhost" method="post" enctype="multipart/form-data"
                                              th:action="@{'/movie/' + ${movie.getId()} + '/image'}">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="control-label" style="padding-right: 20px;">Select
                                                        File</label>
                                                    <input id="imagefile" name="imagefile" type="file" class="file">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="submit" style="padding: 5px; margin-top: 20px;"
                                                            class="btn btn-primary btn-lg">Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<div th:replace="fragments :: footer"></div>
</body>
</html>