<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header"></head>

<body>
<div th:replace="fragments :: navbar"></div>

<div th:replace="fragments :: navigation(homeCurr='', listCurr='',searchCurr='', addCurr='', categoriesCurr='')"></div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
                <div class="col-md-6">
                    <form th:object="${movie}" th:action="@{/movie/}" method="post">
                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <p>Please correct errors below</p>
                        </div>
                        <input type="hidden" th:field="*{id}"/>
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title">Edit Movie Information</h1>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('title')}
                                        ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                        <label>Movie title:</label>
                                        <input type="text" class="form-control" th:field="*{title}"
                                               th:errorclass="has-error"/>
                                        <span class="help-block"
                                              th:if="${#fields.hasErrors('title')}"></span>
                                        <ul>
                                            <li th:each="err : ${#fields.errors('title')}"
                                                th:text="${err}"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('production')}
                                        ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                        <label>Production</label>
                                        <input type="text" class="form-control" th:field="*{production}"
                                               th:errorclass="has-error"/>
                                        <span class="help-block"
                                              th:if="${#fields.hasErrors('production')}"></span>
                                        <ul>
                                            <li th:each="err : ${#fields.errors('production')}"
                                                th:text="${err}"></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('boxOffice')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                        <label>Box office:</label>
                                        <input type="text" class="form-control" th:field="*{boxOffice}"
                                               th:errorclass="has-error"/>
                                        <span class="help-block"
                                              th:if="${#fields.hasErrors('boxOffice')}"></span>
                                        <ul>
                                            <li th:each="err : ${#fields.errors('boxOffice')}"
                                                th:text="${err}"></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label>Genre:</label>
                                        <select class="form-control" th:field="*{genre}">
                                            <option th:each="genre : ${T(com.example.moviecatalog.domain.Genre).values()}"
                                                    th:value="${genre}"
                                                    th:text="${genre}">
                                            </option>
                                        </select>
                                        <select class="form-control" th:remove="all">
                                            <option>Action</option>
                                            <option>Drama</option>
                                            <option>Horror</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h1 class="panel-title">Description</h1>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 form-group" th:class="${#fields.hasErrors('description')}
                                ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                            <textarea class="form-control" rows="3" th:field="*{description}"
                                                      th:errorclass="has-error"></textarea>
                                        <span class="help-block"
                                              th:if="${#fields.hasErrors('description')}"></span>
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}"
                                                th:text="${err}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>


<div th:replace="fragments :: footer"></div>
</body>
</html>