
body {
    font-size: 0.8rem;
    font-family: Open Sans, sans-serif;
}

.feather {
    width: 25px;
    height: 25px;
    vertical-align: text-top;
}

/*
 * Sidebar
 */

.sidebar {
    font-size: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding-top: 2rem;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background: #FFF linear-gradient(to bottom, #3F567C, #B5CCC6) no-repeat;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: 5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}
btn {
    position: absolute;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: black;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
.profile-text {
    color: #40514E;
    margin: auto;
    width: 500px;
    text-align: center;
}

.my-picture {
    position: absolute;
    padding-top: 50px;
    width: 40%;
    height: 40%;
    align-content: center;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    color: #66BFBF;
    font-size: 200%;
    padding-bottom: 20px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
}
.contact-me {
    margin: 100px auto;
}
.contact-button {
    background: #78c9ff;
    background-image: -webkit-linear-gradient(top, #78c9ff, #22658f);
    background-image: -moz-linear-gradient(top, #78c9ff, #22658f);
    background-image: -ms-linear-gradient(top, #78c9ff, #22658f);
    background-image: -o-linear-gradient(top, #78c9ff, #22658f);
    background-image: linear-gradient(to bottom, #78c9ff, #22658f);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    border-width: 0;
    border-radius: 10px;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
