<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8"/>
    <title>Movie Catalog</title>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          href="https://cdn.jsdelivr.net/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet"
          href="../static/css/dashboard.css">

    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"> -->
</head>

<div th:fragment="navbar">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">

        <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/}">Movie Catalog</a>
        <!--<form class="form-inline my-2 my-lg-0" th:object="${movieCommand}" th:action="@{/searchmovie}" method="post">
        <input class="form-control mr-sm-2" placeholder="Search by title" aria-label="Search" type="text"  th:field="*{title}">
        <button class="btn " type="submit">Submit</button>
    </form>-->
    </nav>
</div>

<div th:fragment="navigation (homeCurr, listCurr, searchCurr, addCurr, categoriesCurr)">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/}">
                                <span data-feather="home"></span>
                                Home Page<span class="sr-only"><th:block th:text="${homeCurr}"></th:block></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/movie/movielist}">
                                <span data-feather="list"></span>
                                List of movies
                                <th:block th:text="${listCurr}"></th:block>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/movie/search}">
                                <span data-feather="search"></span>
                                Search movie
                                <th:block th:text="${searchCurr}"></th:block>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/movie/new}">
                                <span data-feather="trello"></span>
                                Add new movie
                                <th:block th:text="${addCurr}"></th:block>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/movie/categories}">
                                <span data-feather="tv"></span>
                                Browse by genre
                                <th:block th:text="${categoriesCurr}"></th:block>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>


<div th:fragment="footer">

    <script src="https://cdn.jsdelivr.net/webjars/jquery/3.4.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" content="text/javascript">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.js"
            th:src="@{/webjars/popper.js/1.15.0/umd/popper.js}" content="text/javascript">
    </script>
    <script src="https://cdn.jsdelivr.net/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" content="text/javascript">
    </script>


    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

</div>
</body>
</html>
