<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header"></head>
<body>
<div th:replace="fragments :: navbar"></div>

<div th:replace="fragments :: navigation(homeCurr='', listCurr='',searchCurr='', addCurr='', categoriesCurr='')"></div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

        <div class="middle-container col-md-6">
            <div class="profile">
                <h2 class="profile-text">Hello.</h2>
                <p class="profile-text">Feel free to create your own movie catalog.</p>
            </div>
            <hr class="hr-dashed">

            <div class="contact-me profile-text">
                <h2 class="profile-text">Get In Touch</h2>
                <p class="profile-text">If you would like to cooperate with me, send a message</p>
                <a class="btn contact-button" href="mailto:kkedzierski.m@email.com">CONTACT ME</a>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments :: footer"></div>
</body>
</html>
